<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Les voy a dejar mas tareas al grupo de atras junto con el ajolote porque van atrasaditos</h1>
    <h2>Como el ñoño alfa Harold ya saber todo, le vamos a dejar otra API para el viernes para que no aburra en clase wiii vamos a dejarle una API de goku con plantilla ejs, y que pueda agregar nuevas fusiones asi como en Dragon Ball Heroes oorque voy a querer agarrar los datos de un personaje y fusionarlos asi bien loco con otro y le ayudara Sofia wiiii</h2>
    <img src="/21EstaticosExpress/public/img/WALLPAPERS_WB_MK11.jpg" alt="">

    <img src="/img/WALLPAPERS_WB_MK11.jpg" alt="">
</body>
</html>